.register {
    padding: 0%;
    width: 100%
}

.register_right {
    background-image: url('../../../app//assets//img//background_login.jpg'), linear-gradient(-63deg, rgb(40, 30, 91) 0%, rgb(27, 18, 74) 100%);
    background-size: cover;
    height: 100vh;
    margin: 0px;
}

.noGutter {
    padding-right: 0;
    padding-left: 0;
    margin-right: 0;
    margin-left: 0;
}

.heading {
    color: white;
    font-family: SegoeUI-Light;
    font-weight: 300;
}

.formTitle {
    font-size: 24px;
    font-family: SegoeUI-Bold-Italic;
    color: #392c70;
    font-weight: 700;
    font-style: italic;
}

.registerButton {
    border-radius: 20px;
    color: #fff;
    font-family: SegoeUI-Bold;
    font-size: 14px;
    font-weight: 700;
    width: 160px;
    height: 40px;
    background-image: linear-gradient(-110deg, #e33a8c 0%, #54236e 100%);
}

@media only screen and (max-width: 768px) {
    /* For mobile phones: */
    .register_right {
        height: 38vh;
    }
    .heading {
        font-size: 36px;
    }
}

.smsHeading {
    color: #932c88;
    font-size: 24px;
    font-weight: 700;
    text-transform: uppercase;
    font-family: SegoeUI-Bold;
    margin-bottom: 58px;
}

.Link {
    color: #922c88
}
.Link:hover {
    color: #922c88
}
