.deposit {
  font-family: SegoeUI-Bold;
  font-size: 24px;
  font-weight: 700;
  color: #922c88;
  text-transform: uppercase;
  margin: 0 0 22px 0;
}

.depositForm {
  background-color: white;
  border-radius: 10px;
}

.important {
  font-family: SegoeUI-Bold;
  font-weight: 700;
  color: #922c88;
}

.jumbotron p {
  font-size: 16px;
}

.jumbotronBackground {
  background-color: rgba(228, 188, 222, 0.23);
  /* padding: 43px 57px 62px 61px;
  padding-right: 57px;
  padding-left: 61px; */
  /* -webkit-box-sizing: border-box;
  box-sizing: border-box; */
}

.copyDepositAddress {
  overflow: hidden;
  position: relative;
  cursor: pointer;
  outline: none;
  border: none;
  width: 150px;
  height: 40px;
  border-radius: 25px;
  background-image: linear-gradient(-110deg, #e02a82 0%, #54236e 100%);
  font-size: 14px;
  font-weight: 700;
  color: #fff;
}

.depositButtons {
  background-image: linear-gradient(-110deg, #e02a82 0%, #54236e 100%);
  cursor: pointer;
  border: none !important;
  border-radius: 25px;
  width: 80px;
  outline: none;
  color: #fff;
  /* display: block; */
  text-align: center;
}
/* 
  ##Device = Most of the Smartphones Mobiles (Portrait)
  ##Screen = B/w 320px to 479px
*/

@media (min-width: 320px) and (max-width: 480px) {
  .depositButtons {
    width: 54px;
    font-size: 12px;
  }
}
